input {
	width:200px;
}

#company_bar {
    background-color: #f7f7f9;
}

.pijltje {
	font-size:30px;
	text-shadow: 1px 1px 3px rgba(0,0,0,0.5);
}

#link_bar {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #292b2c!important;;
}
#link_bar a {  
		display: inline-block;
    	color: #777;
    	text-align: center;
    	padding: 5px;
    	text-decoration: none; 
}
#link_bar a:hover { 
		color: #bbb; 
		background-color: #292b2c!important;;
}

.active { 
		color: #fff!important; 
		background-color: #292b2c!important;;
}
.card-block{
	font-size:13px;
}

.printhoofding{ display:none}

@media print {
    .printhoofding{ display:block!important;}
    .print-niet { display: none !important;}
    #rateregel {
        flex-direction: row!important;
        margin-right: 40px;
    }
}