<div class="printhoofding"><br><br><br></div>
<div class="d-flex  flex-column flex-lg-row justify-content-between" id="rateregel">
    <!-- flex row verdeelt in 3 stukken : pijlje links - gegevens - lijstindex + pijltje rechts -->
    <!-- rij 1 pijltje - comany naam - pijltje (verdwijnt md-up) -->
    <div class="d-flex justify-content-between">
        <div class="align-self-center ">
            <i [hidden]="user.curStocksindex <= 0" class="fa fa-angle-double-left pijltje " (click)="vorig()"></i>
        </div>
        <div class="text-sm-center align-self-center ml-5" style="font-size:17px;margin-right:30px;">
            <b>{{ user.curStock.Name}} (
        <a (click)="onCompanyClick()" target = "_blank" placement="bottom" ngbTooltip="{{fourTradersUrl}}"> {{user.curStock.Company}}</a>
        )</b>
        </div>
        <div class="ml-auto align-self-center d-lg-none">
            <i [hidden]="user.curStocksindex >= user.stocks.length-1" class="fa fa-angle-double-right pijltje" (click)="volgend()"></i>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <!-- flex row verdeelt gegevens in 2 stukken : Naam + spatie - koers/trend/stars/advice  -->
        <!-- rij 2 rate trend stars en nummer/nummer en pijltje (verdwijnt md-down) -->

        <div class="" style="text-align:center;">
            <div style="margin-left:5px;;">
                <span style="font-size:9px;">Rate:&nbsp;{{user.curStock.RateDate}} </span>
                <p><b> {{user.curStock.Value}} <sup> {{user.curStock.Valuta}} </sup></b>&nbsp;&nbsp;
                    <span style="font-weight:bold;" [innerHTML]="user.curStock.Percent|format:'myboldperc'"></span>
            </div>
        </div>
        <div class="">
            <div style="margin-left:20px;;">
                <span style="font-size:9px;">Trend :</span>
                <p><span style="font-weight:bold" [innerHTML]="user.curStock.Kml |format:'myTrend'"></span>
            </div>
        </div>
        <div class="">
            <div style="margin-left:20px;">
                <span style="font-size:9px;">Stars:</span>
                <p><span style="font-weight:bold;" [innerHTML]="user.curStock.Stars |format:'mystars'"></span>
            </div>
        </div>
        <div class="">
            <div style="margin-left:20px;">
                <span style="font-size:9px;">Advice:</span>
                <p><span style="font-weight:bold;">{{user.curStock.Advice}}</span>
            </div>
        </div>
    </div>
    <div class=" d-flex align-self-center print-niet">
        <div *ngIf="user.stocks.length>0" class="row mr-5 d-none d-lg-inline" >
            <span><strong>{{user.curStockList}}&nbsp;({{user.curStocksindex + 1}}/{{user.stocks.length}})</strong></span>&nbsp;&nbsp;
            <div class="d-inline" [hidden]="user.curStocksindex >= user.stocks.length-1">
                <i class="fa fa-angle-double-right pijltje" (click)="volgend()"></i>
            </div>
        </div>
    </div>
</div>


<div class="d-flex flex-row mt-2 mb-2 print-niet" style="background-color: #e3f2fd;">
    <a class="flex-item ml-2 pt-2 pb-2" routerLink="general" routerLinkActive="active">General</a>
    <a class="flex-item ml-4 pt-2 pb-2" routerLink="naic" routerLinkActive="active">Naic</a>
    <a class="flex-item ml-4 pt-2 pb-2" routerLink="finance" routerLinkActive="active">Finance</a>
    <a class="flex-item ml-4 pt-2 pb-2" routerLink="chart" routerLinkActive="active">Chart</a>
    <a *ngIf="user.isMobile" class="flex-item ml-4 pt-2 pb-2" routerLink="news" routerLinkActive="active">News</a>
    <a *ngIf="user.userType === 'Admin'" class="flex-item ml-4 pt-2 pb-2" routerLink="delete" routerLinkActive="active">Delete</a>
</div>

<app-fourtraders-modal></app-fourtraders-modal>
<router-outlet></router-outlet>