<div *ngIf="modalAdminVisible" class="modal" [style.display]="'block'">
    <div class="modal-dialog" style="width:400px;">
        <div class="modal-content">
            <form [formGroup]="companyForm" (ngSubmit)="onAdminSubmit()" novalidate>
                <div class="modal-header">
                    <h4 class="modal-title">{{titel}}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalAdminVisible=false">
                    <span aria-hidden="true">&times;</span>
                </button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <img class="col-5" src="assets/img/morningstar.jpg">
                        <label class="col-2 col-form-label">Symbol:</label>
                        <div class="col-5">
                            <input class="form-control" formControlName=TickerM required (blur)="onChangeSymbol()"/>
                        </div>
                    </div>
                    <div *ngIf="companyForm.controls['TickerM'].errors && !companyForm.controls['TickerM'].pristine" class="alert alert-danger">
                            Morningstar symbol is required.
                    </div>
                    <div class="form-group row">
                        <img class="col-5" src="assets/img/yahoo.jpg">
                        <label class="col-2 align-self-center col-form-label">Symbol:</label>
                        <div class="col-5 align-self-center">
                            <input class="form-control" formControlName=TickerY required/>
                        </div>
                    </div>
                    <div *ngIf="companyForm.controls['TickerY'].errors && !companyForm.controls['TickerY'].pristine" class="alert alert-danger">
                        Yahoo symbol is required.
                </div>

                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary info" type="submit"  [disabled]="buttonText === 'Wait ...'||companyForm.invalid">
                            <span [hidden]="buttonText != 'Wait ...'"><i class="fa fa-spinner fa-spin"></i></span> {{buttonText}}</button>
                </div>
            </form>
        </div>
    </div>
</div>
<div *ngIf="modalUserVisible" class="modal" [style.display]="'block'">
    <div class="modal-dialog" style="width:400px;">
        <div class="modal-content">
            <form [formGroup]="companyForm" (ngSubmit)="onUserSubmit()" novalidate>
                <div class="modal-header">
                    <h4 class="modal-title">New Easyshare Company</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="modalUserVisible=false">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>If you wish to add a share, you can do a request by email.</p>
                    Note that Naic software is :<br>
                    <ul>
                        <li>Not suitable for companies with special accounts, such as banks, insurance companies.</li>
                        <li> Less suitable for holdings, real estate fairs, ..</li>
                        <li> Is not suitable for financial data in British pounds. Amounts are not uniform (GBP and GBp)</li>
                        <li> Special attention is required for stock splits</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary info" type="submit" >Send Mail!</button>
                </div>
            </form>
        </div>
    </div>
</div>