<div class="d-flex flex-row justify-content-around mt-2 mb-2" style="background-color: #e3f2fd;">
    <button type="button" class="btn btn-primary" (click)="onEditUser(null,'add')"><i class="fa fa-clone"></i> New ...</button>
</div>
<table class="table table-sm table-bordered table-hover table-responsive table-sortable">
    <thead class="thead-default">
        <tr>
            <th *ngFor="let column of myColDefs" [class]="selectedClass(column.index)" (click)="changeSorting(column.index)">
                {{column.name}}
            </th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users | orderBy : convertSorting()" >
            <td *ngFor="let column of myColDefs" [ngStyle]="column.cellStyle">
                <span [innerHTML]="user[column.index]"></span>
            </td>
            <td (click)="onEditUser(user,'edit')"><i class="fa fa-edit"></i></td>
            <td (click)="onEditUser(user,'del')"><i class="fa fa-trash"></i></td>
        </tr>
    </tbody>
</table>

<app-users-edit (userChanged)='onUserChanged($event)'></app-users-edit>