<br>
<div class="row justify-content-md-center">
  <div class="col-sm-3">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">{{title}}</h3>
        <p class="card-text">Are you sure you want to delete {{company}}.</p>
        <a href="#" class="btn btn-primary"(click)="onDeleteClick()">Delete!</a>
      </div>
    </div>
  </div>
</div>