<div class="card  mb-3 mt-3 ml-3 mr-3" style="background-color: #e3f2fd;">
    <div class="card-header text-center">
        <h2>Easyshare - Het beheer van aandelen makkelijk gemaakt!</h2>
    </div>
    <div class="card-block">
        <h2 class="card-title"></h2>
        <blockquote style="text-align: center;">
            <small>Voor een eerste indruk over de manier van werken zie: <a href='http://www.betterinvesting.org/NR/rdonlyres/55F0DFA7-3EF7-4577-BC03-730106600960/0/P1Why_Invest_in_Stocks_finaltimelessPresentationslides1ppcolor.pdff#page=28' target='_blank'>
		 Course of study for beginning investors</a> van <a href='http://www.betterinvesting.org' target='_blank'>Betterinvesting</a>.
	     <a href='http://www.betterinvesting.org' target='_blank'>Betterinvesting</a> is de naam waaronder <b>NAIC</b> 
	     (National Association of investors Corporation) is voortgezet.<br/> 
	     Zij hebben een <a href="http://biwiki.editme.com/TheSSG" target='_blank'><b>wiki</b></a> waar veel Engelstalige informatie 
	     over de NAIC-methode met behulp van SSG's te vinden is.
	     Voor nederlanstalige informatie zie: <a href='./assets/documentatie/Naicbrochure.pdf' target='_blank'>Inleiding tot de NAIC analyse</a>
 		 van VFB (Vlaamse Federatie van Beleggingsclubs en Beleggers vzw) </small>
        </blockquote>
        <h4 align="center">SELECTEER GROEI AANDELEN</h4>
        <ul>
            <li>Probeer aandelen te vinden die jaarlijks minstens 10 à 15% groeien. Easyshare helpt jou hier mee! <br/> Als je
                wil weten of een specifiek aandeel een groeier is of niet: Zoek het op in het "Enter company name" veld hierboven
                of in een watchlist en klik er op. Je krijgt nu de gegevens ( inclusief naic) van het bedrijf te zien. Klik
                nu op de "Naic" tab.
                <li>Aan de rechterzijde van de grafiek vind je de "Historical Sales en Eps Growth". Deze zijn door het systeem
                    berekend.
                </li>
                <li>Initieel wordt er van uitgegaan dat de groei ("Estimated Future EPS Growth" en "Estimated Future Sales Growth")
                    voor de volgende 5 jaren gelijk is aan die van de voorbije tien jaar (zie de lichte blauwe en groene
                    lijn op de grafiek). Kijk naar de winstverwachtingen (groene ruitjes), zo kan je zien of de berekende
                    groei samenvalt met de verwachtingen van de analisten. Pas eventueel de "Estimated Future EPS Growth"
                    en "Estimated Future Sales Growth" aan. Druk op "save" om te bewaren. </li>
                <li>Haal er de grootste groeiers uit waarin je het meeste vertrouwen hebt.</li>
                <li>Er worden door het systeem 2 lijsten aangemaakt die het jou nog makkelijker maken. Dit gaat via de screener:<br/>
                    <ul>
                        <li>"Query continuous Growth" : Bedrijven die elk jaar meer en meer winst maken. </li>
                        <li>"Ivo's Top picks": Bedrijven die elk jaar meer en meer winst maken, minstens 15% groeien en die goedkoop
                            zijn.
                        </li>
                    </ul>
                </li>
                <li>Er worden ook nog lijsten handmatig bijgehouden:<br/>
                    <ul>
                        <li>"US Continuous dividend growth": geselecteerd uit grote US-aandelen meestal uit S&P 500 omwille van :<br>
                            <ul>
                                <li>de jaarlijkse dividendverhoging in de voorbije 10 jaar, mogelijk door de continue winstgroei.</li>
                                <li>de lage payout ratio (dividend/winst per aandeel) &lt;50%.</li>
                                <li>de goede solvabiliteitsratio (schulden/balanstotaal) &lt;50 %.</li>
                            </ul> 
                        </li>
                        <li>"Betterinvesting Weekly Stock Screen": <a href="http://Betterinvesting.org" target="_blank">Betterinvesting</a> Weekly
                            Stock Screen.</li>
                    </ul>
                </li>
        </ul>
        <h4 align="center">KOOP INDIEN NIET TE DUUR EN GOEDE FUNDAMENTELE WAARDE</h4>
        <ul>
            <li>Hiervoor moet je de naic verder invullen en analyseren.</li>
            <li>Goede vuistregels: </li>
            <ul>
                <li>Als de huidige koers/winst ('Current PE') lager is dan de verwachte groei dan is het aandeel goedkoop.</li>
                <li>Als het bedrijf 5 sterren heeft, zijn de fundamentele waardes in orde. </li>
            </ul>
            <li>Dubbelcheck vooral de verwachte winsten van volgend jaren. Een goede site om te dubbelchecken is <a href="http://www.4-traders.com"
                    target="_blank">4-Traders.com!</a><br></li>
        </ul>
        <h4 align="center">VERKOOP INDIEN HET AANDEEL ZIJN VERWACHTINGEN NIET WAARMAAKT</h4>
        <ul>
            <li>Maak een eigen watchlist aan d.m.v de watchlist keuzeknop en steek hier je aandelen in.</li>
            <li>Sorteer deze watchlist op het momentum van 6 maanden, door op de hoofding van Kolom 'Perf 6M' te klikken in de
                view "general".
            </li>
            <li>De aandelen met negatieve waardes in deze kolom komen eventueel in aanmerking voor verkoop. </li>
        </ul>
        <p>Een goed boek voor als je nog niet teveel van naic kent: <a href='http://www.amazon.com/Selection-Handbook-Better-Investing-Educational/dp/0967813042'
                target="_blank">Stock Selection Handbook van Bonnie Biafore</a></p>
        <p><b>Dubbelcheck altijd jouw beslissingen. De data in dit programma komen van <a href="http://finance.yahoo.com/" target="_blank">yahoo</a> en <a href="http://morningstar.com/" target="_blank">Morningstar</a>
     	Ik kan en wil daar geen enkele verantwoording voor dragen.</b></p>
        <p>Good Luck!</p>
        <p><a href='mailto:ivo.elen@gmail.com'>Ivo Elen</a></p>
        <br> 05/09/2017
        <br><br>
    </div>
</div> 