<br>
<div class="container-fluid">
    <div class="row print-niet">
        <div class="col-md-4" style="overflow-x: scroll">
            <highcharts-chart [Highcharts]="Highcharts" [options]="optionsChart1"></highcharts-chart>
        </div>
        <div class="col-md-4" style="overflow-x: scroll">
            <highcharts-chart [Highcharts]="Highcharts" [options]="optionsChart2"></highcharts-chart>
        </div>
        <div class="col-md-4" style="overflow-x: scroll">
            <highcharts-chart [Highcharts]="Highcharts" [options]="optionsChart3"></highcharts-chart>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h5 style="text-align: center;"> Financiele data </h5>
        </div>
        <div class= "card-block" >
        <table class='table table-condensed' width='100%'>
            <thead>
                <tr>
                    <td><b>Date:</b></td>
                    <td *ngFor="let result of data.Results" align='right'>
                        <b>{{result.Year}}</b>
                    </td>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><b>Sales( Milj.):</b></td>
                    <td *ngFor="let result of data.Results" align='right'>{{result.Sales }}</td>
                </tr>
                <tr>
                    <td><b>Pre Tax Income( Milj.):</b></td>
                    <td *ngFor="let result of data.Results" align='right'>{{result.IncomeBT }}</td>
                </tr>
                <tr>
                    <td><b>Highest Rate:</b></td>
                    <td *ngFor="let result of data.Results" align='right'>{{result.HighPrice }}</td>
                </tr>
                <tr>
                    <td><b>Lowest Rate:</b></td>
                    <td *ngFor="let result of data.Results" align='right'>{{result.LowPrice }}</td>
                </tr>
                <tr>
                    <td><b>Earnings per Share:</b></td>
                    <td *ngFor="let result of data.Results" align='right'>{{result.Eps }}</td>
                </tr>
                <tr>
                    <td><b>Dividend:</b></td>
                    <td *ngFor="let result of data.Results" align='right'>{{result.Dividend }}</td>
                </tr>
                <tr>
                    <td><b>Book Value per Share:</b></td>
                    <td *ngFor="let result of data.Results" align='right'>{{result.Bookvalue_ps }}</td>
                </tr>
                <tr>
                    <td><b>Cash Flow per Share:</b></td>
                    <td *ngFor="let result of data.Results" align='right'>{{result.CashFlow_ps }}</td>
                </tr>
            </tbody>
            </table>
            </div>
    </div>
</div>