
   chart {
        display: block;
      }

    .table-condensed td, .table-condensed th {
        border: 1px solid black;
    }
    
    .table-condensed td {
        font-size: 80%;
    }
    

      @media print {
        .table-condensed td, .table-condensed th {
            border: 1px solid black!important;
        }
        
        h5 {text-decoration: underline;}

        .print-niet{display:none;}
    
    }