<br>
<div class="row">
    <div class="col-md-3">

        <div *ngFor="let file of dir" (click)="showLogfile(file)">
            <span [ngClass]="{'active': file===logfileName}" class="list-group-item"> {{file}} </span>
        </div>

    </div>
    <div class="col-md-9">
        <div class="card mr-2">
            <div class="card-block">
                <blockquote class="card-blockquote">
                 <small> <div  [innerHTML]="logfile"></div></small>
                </blockquote>
            </div>
        </div>
    </div>
</div>