<nav class="navbar navbar-expand-md  navbar-dark bg-dark">
    <a class="navbar-brand d-none d-md-block" href="#">Easyshare</a>

    <div class="input-group navbar-left" [style.width.px]="user.isMobile?300:500">
        <ng-template #rt let-r="result" let-t="term">
            <b>{{r.Company}}</b>&nbsp;&nbsp; ({{ r.Name}})
        </ng-template>
        <input type="text" class="form-control" [(ngModel)]="model" [ngbTypeahead]="search" (focus)="onFocus()" [resultTemplate]="rt" [inputFormatter]="formatter"
            placeholder="Enter Company name or ticker"    (selectItem)="itemSelected($event)" />
        <!-- <span class="input-group-addon" > <i class="fa fa-search"> </i></span>
        <span class="input-group-addon" (click)="addCompanyclick()"> <i class="fa fa-plus"> </i> </span> -->
    </div>

    <button class="navbar-toggler navbar-toggler-right" type="button" (click)="isNavbarCollapsed = !isNavbarCollapsed" aria-controls="exCollapsingNavbar2"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>

    <div [ngbCollapse]="isNavbarCollapsed" class="collapse navbar-collapse mr-auto mt-2 mt-sm-0" id="exCollapsingNavbar2">
        <div class="navbar-nav mr-auto" (click)="isNavbarCollapsed = !isNavbarCollapsed">
            <a class="nav-item nav-link" routerLink="/intro" routerLinkActive="active">Intro</a>
            <a class="nav-item nav-link" routerLink="/watchlist" routerLinkActive="active">Watchlist</a>
            <a class="nav-item nav-link" routerLink="/company" routerLinkActive="active">Company</a>
            <a class="nav-item nav-link" routerLink="/howto" routerLinkActive="active">Howto</a>
            <a class="nav-item nav-link" routerLink="/screener" routerLinkActive="active">Screener</a>
            <a *ngIf="user.userType === 'Admin'" class="nav-item nav-link" routerLink="/users" routerLinkActive="active">Users</a>
            <a *ngIf="user.userType === 'Admin'" class="nav-item nav-link" routerLink="/admin" routerLinkActive="active">Admin</a>
            <a *ngIf="user.userType === 'Admin'" class="nav-item nav-link" routerLink="/logging" routerLinkActive="active">Logging</a>
            
        </div>
        <form class="form-inline my-2 my-lg-0 ">
            <button id="loginKnop" class="btn btn-default" (click)="loginClick()">
          <i class="fa fa-user"> </i>
          <span >{{(user.name === "demo"||user.name === null)? " click to login" : " " + user.name}}</span>
        </button>
        </form>
    </div>
</nav>

<app-new-company></app-new-company>
<app-login></app-login>