<div *ngIf="loginModalVisible" class="modal" [style.display]="'block'">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Easyshare - User Login</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="loginModalVisible=false">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Username  
                <input type="text" id="login_user" required [(ngModel)]="loginName" />
                <br><br> Password  
                <input type="password" id="login_pwd" required [(ngModel)]="loginPassWord">
                <br>
                <br><span style="font-size:70%">You will be remembered!</span>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" (click)="onLoginSubmit()">Login</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<!-- /.modal -->