
<div class="container-fluid" style="padding:0px" >
    <div class="card mt-md-3" style="background-color: #e3f2fd;">
        <div class="card-header text-center">
            <h5>Waarom investeren in top NAIC-bedrijven op lange termijn?</h5>
        </div>
        <div class="card-block">
           
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-5 col-sm-6 flex-item col">
                    <label class="ml-2">
                        <strong>Verander de termijn.&nbsp;Performance?&nbsp;:&nbsp;</strong>
                    </label>
                    <div ngbDropdown class="d-inline-block mt-2 mb-2">
                        <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>{{selectedPeriod.name}}</button>
                        <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <button *ngFor='let period of periods' class="dropdown-item" (click)="onPeriodClick(period)">{{period.name}}</button>
                        </div>
                    </div>
                </div>
                   <!-- ***************************** Watchlists drop down *************************** -->
                <div class="col-md-5 col-sm-6 flex-item col">
                        <label class="ml-2">
                            <strong>Hoe zit het met jouw watchlist&nbsp;:&nbsp;</strong>	
                        </label>
                        <div ngbDropdown class="d-inline-block mt-2 mb -2" >
                            <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>{{selectedFilter}} </button>
                            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu1">
                                <button *ngFor='let filter of filters' class="dropdown-item" [hidden]="filter.UserId !== user.name" (click)="onFilterClick(filter)">{{filter.Filter}}
                                    </button>
                                <div class="dropdown-divider"></div>
                                <button *ngFor='let filter of filters' class="dropdown-item" [hidden]="filter.Shared==='0'" (click)="onFilterClick(filter)">{{filter.Filter}}</button>
                            </div>
                        </div>
                </div>
            </div> 
            <div class="row">
                <div class="col-md-2">
                </div>
                <div class="col-md-8">
                    <highcharts-chart
                        [Highcharts]="Highcharts"
                        [options]="chartOptions" [callbackFunction]="chartCallback"
                        style="width: 100%; height: 500px; display: block;"
                    ></highcharts-chart>
                </div>
            </div>
            <br/>
            <div class="text-center">
                    <h2>"God dobbelt niet op de beurs" - Jan Longeval 2019 </h2>
            </div>
            <br/>
        </div>
    </div>
</div>