
<highcharts-chart [Highcharts]="Highcharts" [options]="options" [callbackFunction]="chartCallback" ></highcharts-chart>
<button id="zoombutton" class="print-niet" (click)="ZoomKW()" >{{zoomMode?'Reset Zoom':'Zoom'}}</button>
<div style="page-break-after: always"></div>