<div *ngIf="ratingFormVisible" class="modal" [style.display]="'block'">
        <div class="modal-dialog modal-lg" >
            <div class="modal-content">
                <form  (ngSubmit)="onSubmit()" novalidate>
                    <div class="modal-header">
                        <h4 class="modal-title">{{titel}}</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="ratingFormVisible=false;">&times;</button>
                    </div>
                    <div style="text-align:center;"><h4>Quick Analysis</h4></div>
                    <div class="modal-body">
                        <table width="100%">
                            <thead style="border: 2px solid black">
                                <th>No</th>
                                <th>Vraag</th>
                                <th>Data</th>
                                <th>Score</th>
                                <th>Maximum<br>Score</th>
                            </thead>
                            <tbody >
                                <tr>
                                    <td>1</td>
                                    <td ><a [routerLink] ="null" (click)="showContent(1)">Historische Omzetevolutie (Sales)</a>
                                        <div *ngIf = "showContent1">
                                            <small>1 punt per jaar dat de omzet steeg( max 10 ptn)</small>
                                        </div>
                                    </td>
                                    <td align="center">{{data.Analysis.Test[0].score}}&nbsp;jaar</td>
                                    <td align="center">{{data.Analysis.Test[0].points}}</td>
                                    <td align="center">10</td>
                                </tr>
                                <tr>
                                    <td>2</td>
                                    <td><a [routerLink] ="null" (click)="showContent(2)">Historische Omzetgroei</a>
                                        <div *ngIf = "showContent2">
                                            <small>Verdubbeling omzet in 5 jaar of minder: 10 ptn.<br>
                                            Verminderd met 2 ptn voor elk extra jaar.</small>
                                        </div>
                                    </td>
                                    <td align="center">{{data.Analysis.Test[1].score}}&nbsp;jaar</td>
                                    <td align="center">{{data.Analysis.Test[1].points}}</td>
                                    <td align="center">10</td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td><a [routerLink] ="null" (click)="showContent(3)">Historische cwpa evolutie ( Earnings per share )</a>
                                        <div *ngIf = "showContent3">
                                            <small>1 punt per jaar dat de cwpa steeg( max 10 ptn)</small>
                                        </div>
                                    </td>
                                    <td align="center">{{data.Analysis.Test[2].score}}&nbsp;jaar</td>
                                    <td align="center">{{data.Analysis.Test[2].points}}</td>
                                    <td align="center">10</td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td><a [routerLink] ="null" (click)="showContent(4)">Historische cwpa groei</a>
                                        <div *ngIf = "showContent4">
                                            <small>Verdubbeling van de cwpa in 5 jaar of minder: 10 ptn.<br>
                                            Verminderd met 2 ptn voor elk extra jaar.</small>
                                        </div>
                                    </td>
                                    <td align="center">{{data.Analysis.Test[3].score}}&nbsp;jaar</td>
                                    <td align="center">{{data.Analysis.Test[3].points}}</td>
                                    <td align="center">10</td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td><a [routerLink] ="null" (click)="showContent(5)">Groeiritme dividenden</a>
                                        <div *ngIf = "showContent5">
                                            <small>1 punt per jaar dat het dividend steeg in de laatste 5 jaar (max 5 ptn)</small>
                                        </div>
                                    </td>
                                    <td align="center">{{data.Analysis.Test[4].score}}&nbsp;jaar</td>
                                    <td align="center">{{data.Analysis.Test[4].points}}</td>
                                    <td align="center">5</td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td><a [routerLink] ="null" (click)="showContent(6)">3 jarige Bedrijfswinstmarge ( Operating Margin)</a>
                                        <div *ngIf = "showContent6">
                                            <small>10,4 % of minder: 5 ptn.&nbsp;&nbsp;10,5 - 14,4 %: 8 ptn.<br>
                                                14,5 -19,4 % : 12 ptn.&nbsp;&nbsp;19,5 % of meer: 15 ptn.</small>
                                        </div>
                                    </td>
                                    <td align="center">{{data.Analysis.Test[5].score}}&nbsp;%</td>
                                    <td align="center">{{data.Analysis.Test[5].points}}</td>
                                    <td align="center">15</td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td><a [routerLink] ="null" (click)="showContent(7)">3 jarige Return op Eigen Vermogen ( ROE)</a>
                                        <div *ngIf = "showContent7">
                                            <small>10,4 % of minder: 5 ptn.&nbsp;&nbsp;10,5 - 14,4 %: 8 ptn.<br>
                                                14,5 -19,4 % : 12 ptn.&nbsp;&nbsp;19,5 % of meer: 15 ptn.</small>
                                        </div>
                                    </td>
                                    <td align="center">{{data.Analysis.Test[6].score}}&nbsp;%</td>
                                    <td align="center">{{data.Analysis.Test[6].points}}</td>
                                    <td align="center">15</td>
                                </tr>
                                <tr>
                                    <td>8</td>
                                    <td><a [routerLink] ="null" (click)="showContent(8)">LT - schuld als % van het eigen vermogen</a>
                                        <div *ngIf = "showContent8">
                                            <small>60 % of meer: 0 ptn.&nbsp;&nbsp;30 - 59 %: 3 ptn.<br>
                                                minder dan 30 %: 5 ptn.</small>
                                        </div>
                                    </td>
                                    <td align="center">{{data.Analysis.Test[7].score}}&nbsp;%</td>
                                    <td align="center">{{data.Analysis.Test[7].points}}</td>
                                    <td align="center">5</td>
                                </tr>
                                <tr>
                                    <td>9</td>
                                    <td><a [routerLink] ="null" (click)="showContent(9)">Current Ratio (Current Assets/ Current Liabilities)</a>
                                        <div *ngIf = "showContent9">
                                            <small>< 1: 0 ptn.&nbsp;&nbsp;1 - 2: 3 ptn. meer dan 2: 5 ptn.</small>
                                        </div>
                                    </td>
                                    <td align="center">??</td>
                                    <td align="center">{{data.Analysis.Test[8].points}}</td>
                                    <td align="center">5</td>
                                </tr>
                                <tr>
                                    <td>10</td>
                                    <td><a [routerLink] ="null" (click)="showContent(10)">Verwachte toekomstige cwpa groei</a>
                                        <div *ngIf = "showContent10">
                                            <small>10,4 % of minder: 5 ptn.&nbsp;&nbsp;10,5 - 14,4 %: 8 ptn.<br>
                                                14,5 -19,4 % : 12 ptn.&nbsp;&nbsp;19,5 % of meer: 15 ptn.</small>
                                        </div>
                                    </td>
                                    <td align="center">{{data.Analysis.Test[9].score}}&nbsp;%</td>
                                    <td align="center">{{data.Analysis.Test[9].points}}</td>
                                    <td align="center">15</td>
                                </tr>
                                <tr class="kader">
                                    <td></td>
                                    <td><a [routerLink] ="null" (click)="showContent(11)">Totale score</a>
                                        <div *ngIf = "showContent11">
                                            <small>80 - 100 punten: buitengewoon<br>
                                                60 - 79 punten: gemiddeld<br>
                                                < 60 punten : lager dan gemiddeld</small>
                                        </div>
                                    </td>
                                    <td></td>
                                    <td class="kader3" align="center">{{data.Analysis.AlgTotaal}}</td>
                                    <td align="center">100</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" (click)="ratingFormVisible=false;">Ok</button>
                    </div>
                </form>
            </div>
        </div>
    </div>