<div *ngIf="editFormVisible" class="modal" [style.display]="'block'">
    <div class="modal-dialog">
        <div class="modal-content">
            <form [formGroup]="userForm" (ngSubmit)="onSubmit()" novalidate>
                <div class="modal-header">
                    <h4 class="modal-title">{{titel}}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="editFormVisible=false;">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group row">
                        <label class="col-3 col-form-label">User Id:</label>
                        <div class="col-9">
                            <input class="form-control" formControlName=UserId />
                        </div>
                    </div>
                    <div class="alert alert-danger" *ngIf="userForm.get('UserId').hasError('required') && userForm.get('UserId').touched">
                        User Id is required
                    </div> 
                    <div class="form-group row">
                        <label class="col-3 col-form-label">Name:</label>
                        <div class="col-9">
                            <input class="form-control" formControlName=Name />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label">Paswoord:</label>
                        <div class="col-9">
                            <input class="form-control" formControlName=Password />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label">E-mail:</label>
                        <div class="col-9">
                            <input class="form-control" formControlName=Email />
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="col-3 col-form-label">Gsm-nummer:</label>
                        <div class="col-9">
                            <input class="form-control" formControlName=Gsm />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" (click)="editFormVisible=false;">Cancel</button>
                    <button class="btn btn-primary info" type="submit" [disabled]="userForm.invalid">Ok</button>
                </div>
            </form>
            <!--    <p>Form value: {{ userForm.value | json }}</p>
            <p>Form status: {{ userForm.status | json }}</p> -->
        </div>
    </div>
</div>