<div class="row">
    <div class="col-sm">
        <highcharts-chart  [Highcharts]="Highcharts" [options]="options" [callbackFunction]="chartCallback"></highcharts-chart>
    </div>
    <div class="col-sm">
        <label class="ml-2">
            <strong>Period&nbsp;:&nbsp;</strong>
        </label>
        <div ngbDropdown class="d-inline-block mt-2 mb-2">
            <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>{{selectedPeriod}}</button>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <button *ngFor='let period of chartPeriods' class="dropdown-item" (click)="onPeriodClick(period)">{{period.Name}}</button>
            </div>
        </div>
        <div class="card mt-3 mr-3" style="background-color: #e3f2fd;">
            <div class="card-block">
                <blockquote class="card-blockquote">
                    <p>Simple Moving Average 200 days :<strong>{{sma200value}}</strong> </p>
                    <p>Simple Moving Average 50 days : <strong>{{sma50value}}</strong></p>
                    <p>Simple Moving Average 20 days : <strong>{{sma20value}}</strong></p>
                </blockquote>
            </div>
        </div>
    </div>
</div>