<table [style.display]="user.isMobile?'none':'block'" class="screenertable mt-2" width="100%" cellpadding="1" cellspacing="1"
    style="table-layout:fixed;">
    <tr>
        <td width="10%" class="filters-cells" align="center">
            <span class="screener-combo-title" style="cursor:pointer;" title="The topsector where a stock belongs to">TopSector</span>
        </td>
        <td width="10%" class="filters-cells">
            <select style="width:100%" (change)="onParChange($event.target)" class="screener-combo-text" id="scrtype">
                <option selected="selected" value="">Any</option>
                <option value="Cyclical">Cyclical</option>
                <option value="CyclDef">Cyclical + Defensive</option>
                <option value="CyclSens">Cyclical + Sensitive</option>
                <option value="Defensive">Defensive</option>
                <option value="DefSens">Defensive + Sensitive</option>
                <option value="Sensitive">Sensitive</option>
            </select>
        </td>
        <td width="10%" class="filters-cells" align="center">
            <span class="screener-combo-title" style="cursor:pointer;" title="The Sector where a stock belongs to">Sector</span>
        </td>
        <td width="10%" class="filters-cells">
            <select style="width:100%" (change)="onParChange($event.target)" class="screener-combo-text" id="scrsector">
                <option selected="selected" value="">Any</option>
                <option value="Basic Materials">Basic Materials</option>
                <option value="Consumer Cyclical">Consumer Cyclical</option>
                <option value="Financial Services">Financial Services</option>
                <option value="Real Estate">Real Estate</option>
                <option value="Consumer Defensive">Consumer Defensive</option>
                <option value="Healthcare">Healthcare</option>
                <option value="Utilities">Utilities</option>
                <option value="Communication Services">Communication Services</option>
                <option value="Energy">Energy</option>
                <option value="Industrials">Industrials</option>
                <option value="Technology">Technology</option>
            </select>
        </td>
        <td width="10%" class="filters-cells" align="center">
            <span class="screener-combo-title" style="cursor:pointer;" title="Dividend paying company?">Dividend paying company</span>
        </td>
        <td width="10%" class="filters-cells">
            <select style="width:100%" (change)="onParChange($event.target)" class="screener-combo-text" id="scrdiv">
                <option selected="selected" value="">Any</option>
                <option value="True">Yes</option>
                <option value="False">No</option>
                <option value="Growing">Continuously growing</option>
            </select>
        </td>
        <td width="10%" class="filters-cells"></td>
        <td width="10%" class="filters-cells"></td>
        <td width="10%" class="filters-cells" align="center">
            <span class="screener-combo-title" style="cursor:pointer;" title="Filter">Filter</span>
        </td>
        <td width="10%" class="filters-cells">
            <input type="text" style="width:100%" (change)="onParChange($event.target)" class="screener-input-text" id="scrfilter" />
        </td>
    </tr>
    <tr>
        <td width="10%" class="filters-cells" align="center">
            <span class="screener-combo-title" style="cursor:pointer;" title="20-Day Simple Moving Average">20-Day SMA</span>
        </td>
        <td width="10%" class="filters-cells">
            <select style="width:100%" (change)="onParChange($event.target)" class="screener-combo-text" id="scrsma20">
                <option selected="selected" value="">Any</option>
                <option value="pa">price above sma20</option>
                <option value="pc">price crossed sma20</option>
                <option value="pca">price crossed sma20 above</option>
                <option value="pcb">price crossed sma20 below</option>
                <option value="pb">price below sma20</option>
            </select>
        </td>
        <td width="10%" class="filters-cells" align="center">
            <span class="screener-combo-title" style="cursor:pointer;" title="50-Day Simple Moving Average">50-Day SMA</span>
        </td>
        <td width="10%" class="filters-cells">
            <select style="width:100%" (change)="onParChange($event.target)" class="screener-combo-text" id="scrsma50">
                <option selected="selected" value="">Any</option>
                <option value="pa">price above sma50</option>
                <option value="pc">price crossed sma50</option>
                <option value="pca">price crossed sma50 above</option>
                <option value="pcb">price crossed sma50 below</option>
                <option value="pb">price below sma50</option>
            </select>
        </td>
        <td width="10%" class="filters-cells" align="center">
            <span class="screener-combo-title" style="cursor:pointer;" title="200-Day Simple Moving Average">200-Day SMA</span>
        </td>
        <td width="10%" class="filters-cells">
            <select style="width:100%" (change)="onParChange($event.target)" class="screener-combo-text" id="scrsma200">
                <option selected="selected" value="">Any</option>
                <option value="pa">price above sma200</option>
                <option value="pc">price crossed sma200</option>
                <option value="pca">price crossed sma200 above</option>
                <option value="pcb">price crossed sma200 below</option>
                <option value="pb">price below sma200</option>
            </select>
        </td>
        <td width="10%" class="filters-cells"></td>
        <td width="10%" class="filters-cells"></td>
        <td width="10%" class="filters-cells"></td>
        <td width="10%" class="filters-cells"></td>
    </tr>
    <tr>
        <td width="10%" class="filters-cells" align="center">
            <span (click)="onShowInfo('EPS growth style')">
                <i class="fa fa-info-circle fa_custom" aria-hidden="true"></i>
            </span>
            <span class="screener-combo-title" style="cursor:pointer;" title="EPS growth style ">EPS growth style </span>
        </td>
        <td width="10%" class="filters-cells">
            <select style="width:100%" (change)="onParChange($event.target)" class="screener-combo-text" id="screpsgst">
                <option selected="selected" value="">Any</option>
                <option value="sl">straight line</option>
                <option value="asl">allmost straight line</option>
                <option value="5yc">past 5y continous</option>
                <option value="6yc">more then 5y continuous</option>
            </select>
        </td>
        <td width="10%" class="filters-cells" align="center">
            <span class="screener-combo-title" style="cursor:pointer;" title="EPS growth %">EPS growth %</span>
        </td>
        <td width="10%" class="filters-cells">
            <select style="width:100%" (change)="onParChange($event.target)" class="screener-combo-text" id="screpsgp">
                <option selected="selected" value="">Any</option>
                <option value="g5">over 5%</option>
                <option value="g10">over 10%</option>
                <option value="g15">over 15%</option>
                <option value="g20">over 20%</option>
            </select>
        </td>
        <td width="10%" class="filters-cells" align="center">
            <span (click)="onShowInfo('Sales growth style')">
                <i class="fa fa-info-circle fa_custom" aria-hidden="true"></i>
            </span>
            <span class="screener-combo-title" style="cursor:pointer;" title="Sales growth style ">Sales growth style </span>
        </td>
        <td width="10%" class="filters-cells">
            <select style="width:100%" (change)="onParChange($event.target)" class="screener-combo-text" id="scrsalgst">
                <option selected="selected" value="">Any</option>
                <option value="sl">straight line</option>
                <option value="asl">allmost straight line</option>
                <option value="5yc">past 5y continous</option>
                <option value="6yc">more then 5y continuous</option>
            </select>
        </td>
        <td width="10%" class="filters-cells" align="center">
            <span class="screener-combo-title" style="cursor:pointer;" title="Sales growth %">Sales growth %</span>
        </td>
        <td width="10%" class="filters-cells">
            <select style="width:100%" (change)="onParChange($event.target)" class="screener-combo-text" id="scrsalgp">
                <option selected="selected" value="">Any</option>
                <option value="g5">over 5%</option>
                <option value="g10">over 10%</option>
                <option value="g15">over 15%</option>
                <option value="g20">over 20%</option>
            </select>
        </td>
        <td width="10%" class="filters-cells" align="center">
            <span class="screener-combo-title" style="cursor:pointer;" title="PEG Ratio">PEG Ratio</span>
        </td>
        <td width="10%" class="filters-cells">
            <select style="width:100%" (change)="onParChange($event.target)" class="screener-combo-text" id="scrpeg">
                <option selected="selected" value="">Any</option>
                <option value="s10">&lt;=1</option>
                <option value="s15">&lt;=1.5</option>
                <option value="s20">&lt;=2</option>
            </select>
        </td>
    </tr>
    <tr>
        <td width="10%" class="filters-cells" align="center">
            <span class="screener-combo-title" style="cursor:pointer;" title="Return on Equity">ROE</span>
        </td>
        <td width="10%" class="filters-cells">
            <select style="width:100%" (change)="onParChange($event.target)" class="screener-combo-text" id="scrroe">
                <option selected="selected" value="">Any</option>
                <option value="g5">&gt;5%</option>
                <option value="g10">&gt;10%</option>
                <option value="g15">&gt;15%</option>
            </select>
        </td>
        <td width="10%" class="filters-cells" align="center">
            <span class="screener-combo-title" style="cursor:pointer;" title="Debt Equity Ratio">Debt Equity Ratio</span>
        </td>
        <td width="10%" class="filters-cells">
            <select style="width:100%" (change)="onParChange($event.target)" class="screener-combo-text" id="scrder">
                <option selected="selected" value="">Any</option>
                <option value="s33">&lt;0.33</option>
                <option value="s70">&lt;0.7</option>
                <option value="s100">&lt;1</option>
            </select>
        </td>
        <td width="10%" class="filters-cells" align="center">
            <span class="screener-combo-title" style="cursor:pointer;" title="Profit Margin">Profit Margin</span>
        </td>
        <td width="10%" class="filters-cells">
            <select style="width:100%" (change)="onParChange($event.target)" class="screener-combo-text" id="scrprm">
                <option selected="selected" value="">Any</option>
                <option value="g5">&gt;5%</option>
                <option value="g10">&gt;10%</option>
                <option value="g15">&gt;15%</option>
            </select>
        </td>
        <td width="10%" class="filters-cells" align="center">
            <span class="screener-combo-title" style="cursor:pointer;" title="Price/Bookvalue">Price/Bookvalue</span>
        </td>
        <td width="10%" class="filters-cells">
            <select style="width:100%" (change)="onParChange($event.target)" class="screener-combo-text" id="scrpbr">
                <option selected="selected" value="">Any</option>
                <option value="s1">&lt;1</option>
                <option value="g1">&gt;1</option>
            </select>
        </td>
        <td width="10%" class="filters-cells" align="center"></td>
        <td width="10%" class="filters-cells" align="center">
            &nbsp;
            <button class="screener-combo-button" (click)="OnResetClick()" style="height:18px" id="btnscrreset">Reset ({{parameters.length}})</button>
            /></td>
    </tr>
</table>

<div class="d-flex flex-row mt-2 mb-2" style="background-color: #e3f2fd;">

    <div class="flex-item col">
        <label class="ml-2">
            <strong>Presets&nbsp;:&nbsp;</strong>
        </label>
        <div ngbDropdown class="d-inline-block mt-2 mb-2">
            <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>{{selectedFilter}} </button>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <button *ngFor='let filter of filters' class="dropdown-item" (click)="onPresetClick(filter)">{{filter.Filter}}</button>
            </div>
        </div>
    </div>
    <div *ngIf="!user.isMobile" class="flex-item col">
        <label class="d-none d-md-inline">
            <strong>View&nbsp;:&nbsp;</strong>
        </label>
        <div ngbDropdown class="d-inline-block mt-2 mb-2">
            <button type="button " class="btn btn-outline-primary" id="dropdownMenu2" ngbDropdownToggle>{{user.stockView}}</button>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button *ngFor="let view of user.stockViews" class="dropdown-item" (click)="onViewClick($event)">{{view.name}}</button>
            </div>
        </div>
    </div>
</div>

<div *ngIf="infoVisible" class="modal" [style.display]="'block'" [style.font-size]="'12px'">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" [style.background-color]="'#e3f2fd'">
                <div *ngIf="infoToShow==='EPS growth style'">
                    <p class="text-center">
                        <dt>EPS growth style</dt>
                    </p>
                    <div class="container">
                        <dl class="row">
                            <dt class="col-4">straight line</dt>
                            <dd class="col-8">correlation between the earnings per share (estimates included) and their overall growth percentage is > 0.99 </dd>
                            <dt class="col-4">allmost straight line</dt>
                            <dd class="col-8">correlation between the earnings per share (estimates included) and their overall growth percentage is > 0.97 </dd>
                            <dt class="col-4">past 5y continous</dt>
                            <dd class="col-8">For the past 5 years or more, the earnings per share were continuously growing (estimates included)</dd>
                            <dt class="col-4">more then 5y continuous</dt>
                            <dd class="col">For the past 6 years or more, the earnings per share were continuously growing (estimates included)</dd>
                        </dl>
                    </div>
                </div>
                <div *ngIf="infoToShow==='Sales growth style'">
                    <p class="text-center">
                        <dt>Sales growth style</dt>
                    </p>
                    <div class="container">
                        <dl class="row">
                            <dt class="col-4">straight line</dt>
                            <dd class="col-8">correlation between the annual sales and their overall growth percentage is > .99</dd>
                            <dt class="col-4">allmost straight line</dt>
                            <dd class="col-8">correlation between the annual sales and their overall growth percentage is > 0.97 </dd>
                            <dt class="col-4">past 5y continous</dt>
                            <dd class="col-8">For the past 5 years or more, the annual sales were continuously growing (estimates included)</dd>
                            <dt class="col-4">more then 5y continuous</dt>
                            <dd class="col-8">For the past 6 years or more, the annual sales were continuously growing (estimates included)</dd>
                        </dl>
                    </div>
                </div>
                <button class="btn btn-primary info btn-sm pull-right" data-dismiss="modal" (click)="infoVisible=false">Ok</button>
            </div>
        </div>
    </div>
</div>

<app-watchlist-grid [stocks]="stocks">
</app-watchlist-grid>