	table.screenertable {border-collapse: separate;  border-spacing: 2px;  border-color: grey;}
	td.filters-cells {  background-color: #eeeeee;  font-family: Verdana, Arial, Tahoma;  font-size: 11px;}
	.selectselected { 
        background: #ff6;
    }
    .fa_custom {
        color: #0099CC
    }