<div *ngIf="modalVisible" class="modal" [style.display]="'block'">
    <div class="modal-dialog" >
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="col-12 text-center"><a href="http://{{server}}" target="_blank">Marketscreener( 4-Traders)</a>
                    <button type="button" class="close" aria-label="Close" (click)="modalVisible=false">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </h4>
            </div>
            <div class="modal-body">
                <h5>Goto {{companyName}} on Marketscreener.</h5>
                <br>
                <div *ngIf="no4TradersSymbol"> If you insert the exact link, it will be remembered! </div>
                <input type="text" [(ngModel)]="fourTradersLink" style="width: 300px;" placeholder="insert link to {{companyName}}">
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" (click)="onGetItClick()">Ok</button>
            </div>
        </div>
    </div>
</div>