<br>
<div class="row">
    <div class="col-md-6">
        <div class="card md-3">
            <div class="card-block">
                <blockquote class="card-blockquote">{{data.Description}}</blockquote>
            </div>
        </div>
        <div class="row">
            <div *ngIf="!user.isMobile" class="col-md-8">
                <app-naic-chart [naicdata]="data" [height]="chartHeight" [chartAnimation]="false"></app-naic-chart>
            </div>
            <div class="col-md-4" *ngIf="data.enoughdata">

                <div class="card mt-3">
                    <div class="card-block">
                        <div style = "text-align: center;"><small>Quick Analysis Rating: <a [routerLink]="" (click)="showRating($event)" >{{data.Rating}}</a></small> </div>
                        <div class="card-title" style = "text-align: center;"><b>NAIC - Study</b><p>
                            <small *ngIf="!data.savedStudy" >Computer calculated parameters</small>
                            <small *ngIf="data.savedStudy">Made dd. {{data.NaicStudy.Datum}} by {{data.NaicStudy.UserId}}</small>
                            <!--<br><small>Quick Analysis Rating: <a [routerLink]="" (click)="showRating($event)" >{{data.Rating}}</a></small> -->
                        </div>
                        <blockquote *ngIf = "showNaicStudy" class="card-blockquote ml-2">
                            <table width="100%">
                                <tr>
                                    <td>Future Sales growth:</td>
                                    <td align="right"><b>{{data.NaicStudy.OmzetGroei|format:'mypercent'}}</b></td>
                                    <td></td>
                                    <td>
                                        <span *ngIf="f.calcStarOmzet(data.NaicStudy.OmzetGroei)" style="color:green"><i class="fa fa-star"></i></span>
                                        <span *ngIf="!f.calcStarOmzet(data.NaicStudy.OmzetGroei)" style="color:lightgrey"><i class="fa fa-star"></i></span>
                                    </td>

                                </tr>
                                <tr>
                                    <td>Future Eps growth: </td>
                                    <td align="right"><b>{{data.NaicStudy.WpaGroei|format:'mypercent'}}</b></td>
                                    <td></td>
                                    <td>
                                        <span *ngIf="f.calcStarOmzet(data.NaicStudy.WpaGroei)" style="color:green"><i class="fa fa-star"></i></span>
                                        <span *ngIf="!f.calcStarOmzet(data.NaicStudy.WpaGroei)" style="color:lightgrey"><i class="fa fa-star"></i></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>%Profit on sales:</td>
                                    <td align="right"><b>{{data.NetProfitMargin|format:'mypercent'}}</b></td>
                                    <td></td>
                                    <td>
                                        <span *ngIf="f.calcStarProfit(data.NetProfitMargin)" style="color:green"><i class="fa fa-star"></i></span>
                                        <span *ngIf="!f.calcStarProfit(data.NetProfitMargin)" style="color:lightgrey"><i class="fa fa-star"></i></span>
                                        <span *ngIf="!data.ManEval.PosTrend" style="color: red">&#9660;</span>
                                        <span *ngIf="data.ManEval.PosTrend" style="color: green">&#9650;</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>ROE: </td>
                                    <td align="right"><b>{{data.ReturnOnEquity|format:'mypercent'}}</b></td>
                                    <td></td>
                                    <td>
                                        <span *ngIf="f.calcStarRoe(data.ReturnOnEquity)" style="color:green"><i class="fa fa-star"></i></span>
                                        <span *ngIf="!f.calcStarRoe(data.ReturnOnEquity)" style="color:lightgrey"><i class="fa fa-star"></i></span>
                                        <span *ngIf="!data.ManEval.RoeTrend" style="color: red">&#9660;</span>
                                        <span *ngIf="data.ManEval.RoeTrend" style="color: green">&#9650;</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td>Debt/Equity:</td>
                                    <td align="right"><b>{{data.DebtEquityRatio}}</b></td>
                                    <td></td>
                                    <td>
                                        <span *ngIf="f.calcStarDebt(data.DebtEquityRatio)" style="color:green"><i class="fa fa-star"></i></span>
                                        <span *ngIf="!f.calcStarDebt(data.DebtEquityRatio)" style="color:lightgrey"><i class="fa fa-star"></i></span>
                                    </td>
                                </tr>
                            </table>
                           
                            <br>
                            <div><h6><small>Advice:&nbsp;</small><b>{{kz.Advice}}</b></h6></div>
                            <table width="100%">
                                <tr [ngStyle]="{'background-color': kz.Advice ==='BUY'? 'lightgreen' : ''}">
                                    <td>Buy zone:</td>
                                    <td align="right">{{data.NaicStudy.LaagstePrijs}}
                                        <td>
                                            <td>-</td>
                                            <td align="right">{{kz.BuyLimit}}</td>
                                </tr>
                                <tr [ngStyle]="{'background-color': kz.Advice ==='MAYBE'? 'yellow' : ''}">
                                    <td>Hold zone:</td>
                                    <td align="right">{{kz.BuyLimit}}
                                        <td>
                                            <td>-</td>
                                            <td align="right">{{kz.HoldLimit}}</td>
                                </tr>
                                <tr [ngStyle]="{'background-color': kz.Advice ==='SELL'? 'orangered' : ''}">
                                    <td>Sell zone:</td>
                                    <td align="right">{{kz.HoldLimit}}
                                        <td>
                                            <td>-</td>
                                            <td align="right">{{data.NaicStudy.HoogstePrijs}}</td>
                                </tr>
                            </table>
                            <br>
                            <div><h6><b>5 - year Potential:</b></h6></div>
                            <table width="100%">
                                <tr>
                                    <td>Avg. Yield next 5 years :</td>
                                    <td align="right">{{DivReturn |format:'mypercent'}}</td>
                                </tr>
                                <tr>
                                    <td>5 Yr Appreciation Potential :</td>
                                    <td align="right" style="border-bottom: 1px solid #ddd;">{{expRateReturn |format:'mypercent'}}</td>
                                </tr>
                                <tr>
                                    <td>Avg. Total Annual Return:</td>
                                    <td align="right"><b>{{TotReturn |format:'mypercent'}}</b></td>
                                </tr>
                            </table>
                        </blockquote>
                        <div class="card-footer text-center">
                                <small *ngIf = "showNaicStudy"><em>( based on Estimates in <a routerLink="../naic" >Naic page</a> )</em></small>
                                <small *ngIf = "!showNaicStudy"><em>( Rating to low for Naic-study )</em></small>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="col-md-6">

        <div class="card">
            <div class="card-block">

                <blockquote class="card-blockquote">
                    <div class="row">
                        <div class="col-md-6">
                            <table class="ml-2" width="100%">
                                <tr>
                                    <td width="40%"><b>Company Name:</b></td>
                                    <td> {{data.Name}}</td>
                                </tr>
                                <tr>
                                    <td><b>Sector:</b> </td>
                                    <td>{{data.Industry}}</td>
                                </tr>
                                <tr>
                                    <td><b>Currency:</b></td>
                                    <td>{{data.Currency}}</td>
                                </tr>
                                <tr>
                                    <td><b>Website:</b></td>
                                    <td><a href='{{data.Website}}' target='_blank'>{{data.Website}}</a></td>
                                </tr>
                                <tr>
                                    <td><b>4-Traders link:</b></td>
                                    <td><a href='{{fourTradersUrl}}' target='_blank'>{{fourTradersUrl}}</a></td>
                                </tr>
                                <tr>
                                    <td><b>Reuters Analysts:</b></td>
                                    <td><a href='{{reutersUrl}}' target='_blank'>{{user.curStock['ReutersSymbol']}}</a></td>
                                </tr>
                                <tr>
                                        <td><b>Employees:</b></td>
                                        <td>{{data.Employees}}</td>
                                    </tr>
                                
                            </table>
                        </div>
                        <div class="col-md-6">
                            <table class="ml-2" width="100%">
                                <tr>
                                    <td width="40%"><b>Last Book year:</b></td>
                                    <td>{{datum}}</td>
                                </tr>
                                <tr>
                                    <td><b>Sales (Milj.):</b></td>
                                    <td>{{BusinessSize}}</td>
                                </tr>
                                <tr>
                                    <td><b>Symbol:</b></td>
                                    <td>{{data.Company}}</td>
                                </tr>
                                <tr>
                                    <td><b>Employees:</b></td>
                                    <td>{{data.Employees}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    
                </blockquote>
                <div class="row justify-content-end">
                        <small><a [routerLink]="" >Fundamentals and estimates last updated {{daysAgo}} days ago.&nbsp;&nbsp;&nbsp;&nbsp;</a></small>
                    </div>
            </div>
        </div>
        <br>
        <div *ngIf="!user.isMobile">
            <h4>News </h4>
            <app-news></app-news>
        </div>
    </div>
</div>

<app-rating></app-rating>