<div class="row">
    <div class="col-md-12">
        <div class="card  mb-3 mt-3 ml-3 mr-3" style="background-color: #e3f2fd;">
            <div class="card-header text-center">
                <h2>Easyshare - Administratie</h2>
            </div>
            <div class="card-block">
                <br>
                <ul>
                    <li><a [routerLink]="" (click)="onRefreshCompanyClick()">Update specific company</a></li>
                    <li><a [routerLink]="" (click)="onNewCompanyClick()">Add new ticker to database</a></li>
                    <li><a [routerLink]="" (click)="onAutomaticClick()">Automatically refresh tickers in the database</a></li>
                    <li><a [routerLink]="" (click)="onNaicClick()">calculate best NAIC's</a></li>
                </ul>

            </div>
        </div>
        <div class="card  mb-3 mt-3 ml-3 mr-3" style="height: 100%;" >
            <div class="card-block" [innerHTML]="output" style="height: 100%;"></div>
        </div>
    </div>
</div>
<app-new-company (inputCompanyReady)="onInputCompanyReady($event)"></app-new-company>
