<div class="d-flex flex-row mt-2 mb-2">
    <div class="flex-item col">
        <label class="ml-2">
            <strong>Chart Type&nbsp;:&nbsp;</strong>
        </label>
        <div ngbDropdown class="d-inline-block mt-2 mb-2">
            <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>{{selectedType}}</button>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <button *ngFor='let type of chartTypes' class="dropdown-item" (click)="onTypeClick(type)">{{type.Name}}</button>
            </div>
        </div>
    </div>
</div>
<app-quotes [hidden]="selectedType!==chartTypes[0].Name"  [quotes]="quotes"></app-quotes>
<app-pointenfig [hidden]="selectedType!==chartTypes[1].Name"  [quotes]="quotes"></app-pointenfig>