<table class="table table-sm table-bordered table-hover table-responsive table-sortable">
    <thead class="thead-default">
        <tr>
            <th *ngFor="let column of myColDefs" [class]="selectedClass(column.index)" (click)="changeSorting(column.index)">
                <span *ngIf="column.info" (click)="onShowInfo(column.name)">
                    <i class="fa fa-info-circle fa_custom"  aria-hidden="true"></i>
                </span>
                <span > {{column.name}} </span>
            </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let row of stocks | orderBy : convertSorting()|count:permitted" (click)="onUserSelectRow(row,$event)">
            <td *ngFor="let column of myColDefs" [ngStyle]="column.cellStyle" [innerHTML]="row[column.index] | format : column.formatter:row">
            </td>
        </tr>
    </tbody>
</table>
<div *ngIf="truncated">
    <button type="button" class="btn btn-outline-primary" (click)="showAll()">Show all {{stocks.length}} records ...</button>
</div>
<app-fourtraders-modal></app-fourtraders-modal>

<div *ngIf="infoVisible" class="modal" [style.display]="'block'" [style.font-size]="'12px'">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body" [style.background-color]="'#e3f2fd'">
                <div *ngIf="infoToShow==='Trend'">
                    <p>The trend on <strong>Long</strong> - <strong>Middellong</strong> and <strong>Short</strong> term</p>
                    <p>Long term = 200 days.<br> Middellong term = 50 days. <br> Short term = 20 days</p>
                    <p> The current rate is compared to the average rate of those terms:</p> <br>
                    <span style="color: red">&#9660;</span>: &lt; -3% <br>
                    <span style="color:#ffc0cb">&#9660;</span>: > -3% and &lt; 0% <br>
                    <span style="color:lime">&#9650;</span>: > 0% and &lt; 3% <br>
                    <span style="color:green">&#9650;</span>: > 3%
                </div>
                <div *ngIf="infoToShow==='Industry'">
                    <p>Morningstar arranges the companies in sectors: Defensive, cyclical or sensitive</p>
                    <strong><table align="center"><tbody>
                            <tr><td>1</td><td>Cyclical</td></tr>
                            <tr><td> </td><td>Basic Materials</td></tr>
                            <tr><td> </td><td>Consumer Cyclical</td></tr>
                            <tr><td> </td><td>Financial Services</td></tr>
                            <tr><td> </td><td>Real Estate</td></tr>
                            <tr></tr>
                            <tr><td>2</td><td>Defensive</td></tr>
                            <tr><td> </td><td>Consumer Defensive</td></tr>
                            <tr><td> </td><td>Healthcare</td></tr>
                            <tr><td> </td><td>Utilities</td></tr>
                            <tr></tr>
                            <tr><td>3</td><td>Sensitive</td></tr>
                            <tr><td> </td><td>Communication services</td></tr>
                            <tr><td> </td><td>Energy</td></tr>
                            <tr><td> </td><td>Industrials</td></tr>
                            <tr><td> </td><td>Technology</td></tr>
                            <tr></tr>
                            </tbody></table></strong>
                    <br>
                    <p>for details see <a href='http://corporate.morningstar.com/us/documents/methodologydocuments/methodologypapers/equityclassmethodology.pdf'
                            target='_blank'>Morningstars equityclassmethodology.pdf </a></p>
                </div>
                <div *ngIf="infoToShow==='Macd'">
                    <p>The MACD shown is calculated as a percentage and is also called PPO (percentage price oscillator). This
                        gives the possibility to easyly compare the value for different securities.<br>
                        <p><strong>Calculation:</strong></p>
                        <p>PPO Line: ((12-day EMA - 26-day EMA)/26-day EMA) x 100<br> Signal Line = 9-day EMA of PPO Line<br>                            EMA stands for exponential moving average.<br> PPO Histogram: PPO Line - Signal Line</p>
                        <p>For the full explanation see: <a href="https://www.tradingview.com/wiki/Price_Oscillator_(PPO)" target="_blank">Tradingview wiki</a></p>
                </div>
                <div *ngIf="infoToShow==='Stars'">
                    <p>The stars give an indication of the quality of the company<br> 5 stars are possible:</p>
                    <p><strong> 
                            <span style="color:green"><i class="fa fa-star"></i></span>&nbsp;Future Sales growth > 10% <br>
                            <span style="color:green"><i class="fa fa-star"></i></span>&nbsp;Future Earnings per Share growth > 10% <br>
                            <span style="color:green"><i class="fa fa-star"></i></span>&nbsp;Profit margin > 10% <br>
                            <span style="color:green"><i class="fa fa-star"></i></span>&nbsp;Return on Equity > 10% <br>
                            <span style="color:green"><i class="fa fa-star"></i></span>&nbsp;Debt to equity ratio <= 0.33 <br>
                            </strong></p>
                </div>
                <div *ngIf="infoToShow==='4Tr.'">
                        Click on the 4-Traders logo to go to the 4-Traders Summary of the share.
                        4-Traders is a user-friendly interesting website with a lot of data about each share.
                        You can register yourself one-time  (free) to avoid too many publicity popups.
                        If the link for the share has already been placed, the logo is in white background, and you only need to confirm.
                        If the link is not yet located, search 4-Traders for the desired share, copy the web address and confirm.
                </div>
                <div *ngIf="infoToShow==='Advice'">
                        The 'Advice', 'DivReturn' and 'TotReturn' columns will only be filled in after confirming a Naic study 
                        (with your own parameters). See explanation on Naic screens.
                </div>
                <button class="btn btn-primary info btn-sm pull-right" data-dismiss="modal" (click)="infoVisible=false">Ok</button>
            </div>
        </div>
    </div>
</div>