<div class="row">
  <div class="col-md-5">
    <app-naic-chart [naicdata]="naicdata" [height]="chartHeight" [chartAnimation]="true"></app-naic-chart>
  </div>
  <div class="col-md-7">
    <br>
    <app-naic-accordeon [data]="naicdata" (chartResetzoom)="ChartResetRequest($event)" (chartZoomKW)="ChartZoomKWRequest($event)"
      (chartZoomPrice)="ChartZoomPriceRequest($event)" (chartRedraw)="ChartUpdateRequest($event)">
    </app-naic-accordeon>
  </div>
</div>