<nav class="navbar navbar-toggleable-sm navbar-light mt-2 mb-2" style="background-color: #e3f2fd;">
    <!-- ***************************** Watchlists drop down *************************** -->
    <div class="col-9 col-md-6">
        <label class="d-none d-md-inline"><strong>Watchlist&nbsp;:&nbsp;</strong>	</label>
        <div ngbDropdown class="d-inline-block" >
            <button class="btn btn-outline-primary" id="dropdownMenu1" ngbDropdownToggle>{{user.selectedFilter.Filter}} </button>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu1">
                <button *ngFor='let filter of filters' class="dropdown-item" [hidden]="filter.UserId !== user.name" (click)="onFilterClick(filter)">{{filter.Filter}}
                    </button>
                <div class="dropdown-divider"></div>
                <button *ngFor='let filter of filters' class="dropdown-item" [hidden]="filter.Shared==='0'" (click)="onFilterClick(filter)">{{filter.Filter}}</button>
            </div>
        </div>
    </div>
    <!-- **************************** Edit Button ************************************ -->
    <div *ngIf="user.selectedFilter.UserId === user.name" class="col-1 col-md-2">
        <button type="button" class="btn btn-primary d-inline" (click)="onEditClick(false)"><i class="fa fa-edit"></i>
             <span class="d-none d-md-inline">Edit ...</span>
        </button>
    </div>
    <!-- **************************** New Button ************************************ -->
    <div  *ngIf="user.name !== 'demo'" class="col-2 col-md-2">
        <button type="button" class="btn btn-primary" (click)="onEditClick(true)"><i class="fa fa-clone"></i>
             <span class="d-none d-md-inline">New ...</span>
        </button>
    </div>
    <!-- ***************************** View drop down *************************** -->
    <div  *ngIf="!user.isMobile" class="col">
        <label class="d-none d-md-inline "><strong >View&nbsp;:&nbsp; </strong></label>
        <div ngbDropdown class="d-inline-block">
            <button type="button " class="btn btn-outline-primary" id="dropdownMenu2" ngbDropdownToggle>{{user.stockView}}</button>
            <div ngbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button *ngFor="let view of user.stockViews" class="dropdown-item" (click)="onViewClick($event)">{{view.name}}</button>
            </div>
        </div>
    </div>
</nav>

<app-watchlist-grid [stocks]="stocks"></app-watchlist-grid>

<app-watchlist-edit (filterChanged)='onFilterChanged($event)'></app-watchlist-edit>