<div class="row">
    <div class="col-sm">
        <canvas #Chartingcanvas> </canvas>
    </div>
    <div class="col-sm">
        <div>
            <span>Rates:&nbsp; </span>
            <select id="ChartselectRates" (change)="onChange($event.target.id,$event.target.value)" style="width: 125px">
                <option> Adjusted Close </option>
                <option> High/Low </option>
            </select>
            <span>&nbsp;&nbsp;Block Size:&nbsp;&nbsp;</span>
            <select id="ChartselectBlocksize" (change)="onChange($event.target.id,$event.target.value)" style="width: 80px">
                <option> auto </option>
                <option> 0.1 </option>
                <option> 0.5 </option>
                <option> 1 </option>
                <option> 5 </option>
                <option> 10 </option>
                <option> 50 </option>
            </select>
        </div>
        <div>
            <span>Reversal:&nbsp;&nbsp;</span>
            <select id="ChartselectReversal" (change)="onChange($event.target.id,$event.target.value)" style="width: 60px">
                <option> 2 </option>
                <option selected> 3 </option>
                <option> 4 </option>
                <option> 5 </option>
            </select>
        </div>
        <div>
            Reversal = {{curBloksize}} (bloksize) * {{chartOptions.Reversal}} (reversal) = {{curReversalv}} or
            <strong style="font-size:20px"> {{curReversalp}}% </strong>of the price.
            <!--  <p *ngIf="lastQuote">Last Rate: {{lastQuote.datum}} Open: {{lastQuote.O}}  High: {{lastQuote.H}} Low: {{lastQuote.L}} Close: {{lastQuote.C}} Volume: {{lastQuote.V}}</p> -->
            <br>
        </div>

        <div class="card mt-3 mr-3" style="background-color: #e3f2fd;">
            <div class="card-block">

                <blockquote class="card-blockquote">
                    The XO chart gives a clear picture of the medium and long term trends. Short-term movements are
                    filtered out. Volumes are
                    not displayed. The time is indicated by replacing an X or O with the number of the month (1, 2,
                    ..9,
                    A, B, C). Change of trend (X &lt; O or O > X) according to the set Reversal. O characters at
                    falling
                    prices, X signs at rising prices. See also <a href="http://www.investopedia.com/articles/technical/03/081303.asp"
                        target="_blank">
                        http://www.investopedia.com/articles/technical/03/081303.asp</a>
                </blockquote>
            </div>
        </div>
    </div>
</div>