<div *ngIf="editFormVisible" class="modal" [style.display]="'block'">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <form  #f="ngForm" (ngSubmit)="onSubmit(f)">
                <div class="modal-header">
                    <h4 class="modal-title">{{titel}}</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" (click)="editFormVisible=false;f.reset()">&times;</button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label>Watch List Name:</label><br />
                        <input type="text" [disabled]="!newList" required placeholder="enter watchlist name" name="listname" style="width: 100%;"
                            [(ngModel)]="filter.Filter" #listname="ngModel" class="form-control" />
                        <div [hidden]="listname.valid || listname.pristine" class="alert alert-danger">
                            Watchlist name is required!
                        </div>
                    </div>
                    <div [hidden]="newList" class="form-group">
                        <label>Symbols</label><span><br><small>(separated by comma p.e.: AAPL,XBRU:MELE,XAMS:TOM2 )</small>:</span>
                        <textarea name="stocks" class="text ui-corner-all" placeholder="Enter symbols"
                            style="width: 100%;height: 100px; overflow-y:auto;" required [(ngModel)]="filter.Stocks" #stocks="ngModel"></textarea><br
                        />
                        <p class="text-info"><small >A Watch List without symbols will be deleted!!</small> </p>
                    </div>
                    <div class="form-group">
                        <label>Description : </label>
                        <textarea class="text  ui-corner-all" name="descr" placeholder="optional description" style="width: 100%;height: 50px;"
                            [(ngModel)]="filter.Description"></textarea><br />
                    </div>
                    <div *ngIf="user.userType === 'Admin'">
                        <label><input type="checkbox" name="shared" [(ngModel)]="filter.Shared"  > Share this watchlist with every Easyshare user</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-primary info" type="submit">Ok</button>
                </div>
            </form>
        </div>
    </div>
</div>