<div class="printhoofding">
    <h2 style="text-align: center">Naic Study {{ user.curStock.Name}}</h2>
</div>
<div class="naic-accordion" >

    <div *ngIf="data.enoughdata">
        
            <div class = "card ml-3 mr-3"  >
                <div class= "card-header" >
                    <h5 class="d-flex">
                        <a class="p-2" href="#" (click) ="panelChange($event)" > 1. Forecasting growth&nbsp;</a>
                        <div class="p-2"><i class="fa fa-info-circle fa_custom" (click)="onShowHelp(13)"></i></div>
                    </h5>
                </div>
                <div class= "card-block" #panel0>
                    <p>Historical Sales Growth : <strong>{{data.histGroei.Omzet}} %</strong> &nbsp;&nbsp;({{data.histGroei.LastYear}}
                        :
                        <strong>{{data.histGroei.OmzetLy}} % </strong>)<br/> Estimated Future Sales Growth :
                        <input class="Naic_Parameter" style="width:50px;" type="text" [(ngModel)]="data.NaicStudy.OmzetGroei" (blur)="changePar('OmzetP',0)"
                        />
                    </p>
                    <p>Historical Eps Growth : <strong>{{data.histGroei.Wpa}} %</strong> &nbsp;&nbsp;({{data.histGroei.LastYear}}
                        :
                        <strong>{{data.histGroei.WpaLy}} % </strong>)<br/> Estimated Future EPS Growth :
                        <input class="Naic_Parameter" id="Naic_EpsGrowth" style="width:50px;" type="text" [(ngModel)]="data.NaicStudy.WpaGroei" (blur)="changePar('WpaP',0)"
                        /></p>

                    </div>
            </div  >

            <div class = "card ml-3 mr-3" >
                <div class= "card-header">
                    <h5 class="d-flex">
                        <a class="p-2" href="#" (click) ="panelChange($event)">2. Evaluating Management</a>
                        <div class="p-2"><i class="fa fa-info-circle fa_custom" (click)="onShowHelp(13)"></i></div>
                    </h5>
                </div >
                <div class= "card-block" #panel1>
                    <br>
                    <b>% Pre-tax Profit on Sales</b> - <span>(<small><var>Net Before Taxes / Sales)</var></small></span>
                    <table class="table table-condensed table-bordered table-sm" style="background-color: #f5f5f5;width:100%">
                        <thead>
                            <tr>
                                <th> </th>
                                <th *ngFor="let serie of manEvalSeries" class='alnright'>{{serie.Head}}</th>
                                <th>Trend</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td *ngFor="let serie of manEvalSeries" class='alnright'>{{serie.ProfOnS}}</td>
                                <td *ngIf="data.ManEval.PosTrend" style="background-color:green"><b>up</b></td>
                                <td *ngIf="!data.ManEval.PosTrend" style="background-color:red"><b>down</b></td>
                            </tr>
                        </tbody>
                    </table>
                    <b>% Earned on Equity</b> - <span>(<small><var>EPS/ Book Value</var></small>)</span>
                    <table class="table table-condensed table-bordered table-sm" style="background-color: #f5f5f5;width:100%">
                        <thead>
                            <tr>
                                <th> </th>
                                <th *ngFor="let serie of manEvalSeries" class='alnright'>{{serie.Head}}</th>
                                <th>Trend</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td></td>
                                <td *ngFor="let serie of manEvalSeries" class='alnright'>{{serie.Roe}}</td>
                                <td *ngIf="data.ManEval.RoeTrend" style="background-color:green"><b>up</b></td>
                                <td *ngIf="!data.ManEval.RoeTrend" style="background-color:red"><b>down</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div >
            </div  >


            <div class = "card ml-3 mr-3" >
                <div class= "card-header">
                    <h5 class="d-flex">
                        <a class="p-2" href="#" (click) ="panelChange($event)"> 3. Price-Earnings History as an indicator of the future</a>
                        <!--   <span style="margin-left: 15px;">Current PE: <span >{{data.PeHist.CurrPE}} </span></span> -->
                        <div class="p-2"><i class="fa fa-info-circle fa_custom" (click)="onShowHelp(13)"></i></div>
                    </h5>
                </div >
                <div class= "card-block" #panel2>
                    <div *ngIf="data.Company.substring(0, 5).toUpperCase()=='XLON:'" class="alert alert-danger">
                                Attention: Rates in pence (GBX) and earnings in pond (GBP) !! 
                    </div>
                    <table class="table table-bordered table-condensed table-sm" style="background-color: #f5f5f5;">
                        <thead>
                            <tr>
                                <th>Year</th>
                                <th>High Price</th>
                                <th>Low Price</th>
                                <th>EPS</th>
                                <th>High P/E</th>
                                <th>Low P/E</th>
                                <th>Div. p. share</th>
                                <th>% pay out</th>
                                <th>% high yield</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let serie of data.PeHist.Series; let i = index; ">
                                <td>{{serie.Year}}</td>
                                <td class='alnright' >{{serie.HighPrice}}</td>
                                <td class='alnright'>{{serie.LowPrice}}</td>
                                <td class='alnright'>{{serie.Eps}}</td>
                                <td class='alnright' [class.Naic_Parameter]='serie.Hpe>0' [style.textDecoration]="serie.HpeOk?'':'line-through'" (click)="changePar('Hpe',i)"><b>{{serie.Hpe}}</b></td>
                                <td class='alnright' [class.Naic_Parameter]='serie.Lpe>0' [style.textDecoration]="serie.LpeOk?'':'line-through'" (click)="changePar('Lpe',i)"><b>{{serie.Lpe}}</b></td>
                                <td class='alnright'>{{serie.Dividend}}</td>
                                <td class='alnright' [class.Naic_Parameter]='serie.Pay>0' [style.textDecoration]="serie.PayOk?'':'line-through'" (click)="changePar('Pay',i)"><b>{{serie.Pay}}</b></td>
                                <td class='alnright'>{{serie.Yield}}</td>
                            </tr>
                            <tr>
                                <td>Avg</td>
                                <td></td>
                                <td class='alnright'>{{data.PeHist.LowestPrice}}</td>
                                <td></td>
                                <td id="Naic_PEHighest" class='alnright'><b>{{data.PeHist.AvgHpe}}</b></td>
                                <td id="Naic_PELowest" class='alnright'><b>{{data.PeHist.AvgLpe}}</b></td>
                                <td></td>
                                <td class='alnright'><b>{{data.PeHist.AvgPay}}</b></td>
                                <td></td>
                            </tr>
                        </tbody>
                    </table>
                </div >
            </div  >
            <div class = "card ml-3 mr-3" style="page-break-before: always">
                <div class= "card-header">
                    <h5 class="d-flex">
                        <a class="p-2" href="#" (click) ="panelChange($event)">4. Evaluating Risk and Reward over the next 5 years</a>
                        <div class="p-2"><i class="fa fa-info-circle fa_custom" (click)="onShowHelp(13)"></i></div>
                    </h5>
                </div >
                <div class= "card-block" #panel3>
                    <p>
                        <u>High Price - Next 5 years</u> :</p>
                    <p><input class="Naic_Parameter" style="width: 50px;" type="text" [(ngModel)]="data.NaicStudy.HoogsteKW"
                            (blur)="changePar('HKW',0)" />
                        <small>(<var>Avg.&nbsp;High&nbsp;P/E</var>)</small> *
                        <span>{{data.NaicStudy.HoogsteWpa}}</span>
                        <small>(<var>Estimated&nbsp;High&nbsp;Earnings&nbsp;Share</var>)</small> =
                        <strong><span>{{data.NaicStudy.HoogstePrijs}}</span></strong></p>
                    <br>
                    <p>
                        <u>Low Price - Next 5 years</u> :</p>
                    <p><span class="badge badge-info">a</span> &nbsp;
                        <input class="Naic_Parameter" style="width: 50px;" type="text" [(ngModel)]="data.NaicStudy.LaagsteKW" (blur)="changePar('LKW',0)"
                        />
                        <small>(<var>Avg. Low P/E</var>)</small> *
                        <input class="Naic_Parameter" style="width: 50px;" type="text" [(ngModel)]="data.NaicStudy.LaagsteWpa" (blur)="changePar('LWpa',0)"
                        />
                        <small>(<var>Estimated Low Earnings Share</var>)</small> =
                        <strong><span id="Naic_BerLagePrijs">{{berLaagstePrijs}}</span></strong> (growth company) 
                    <br><span class="badge badge-info">b</span>&nbsp; Avg. Low Price of Last 5 Years =
                        <strong><span id="Naic_GemLagePrijs">{{data.PeHist.LowestPrice}}</span></strong> (cyclic company)
                    <br><span class="badge badge-info">c</span>&nbsp; Recent Severe Market Low Price =
                        <input class="Naic_Parameter" style="width: 50px;" id="Naic_ExtLagePrijs" type="text" />
                    <br><span class="badge badge-info">d</span>&nbsp; Price Dividend Will Support:
                        <small>(<var>Present Divd./High Yield</var>)</small> =
                        <span id="Naic_DivRendPrijs">{{PeHistpDividendPrice}}</span> (nuts company)</p>
                    <p>Selected Estimate Low Price =
                        <strong><input class="Naic_Parameter" style="width: 60px;" type="text" [(ngModel)]="data.NaicStudy.LaagstePrijs" (blur)="changePar('LPrijs',0)"/></strong></p>
                    
                    <p><u>Present P/E</u> : <strong>{{user.curStock.Value/data.NaicStudy.LaagsteWpa | number:'1.1-1'}}</strong></p>
                    
                    <p><u>Zoning</u> : <strong>{{kz.Advice}}</strong></p>
                    <table border="0">
                        <tbody>
                            <tr>
                                <td>Buy zone (<span>{{Naic_KZbuyp}}%</span>):&nbsp; </td>
                                <td style="text-align:right;">{{data.NaicStudy.LaagstePrijs}}</td>
                                <td>&nbsp;tot&nbsp;</td>
                                <td style="text-align:right;">{{kz.BuyLimit}}</td>
                            </tr>
                            <tr>
                                <td>Maybe zone (<span>{{Naic_KZholdp}}%</span>):&nbsp; </td>
                                <td style="text-align:right;">{{kz.BuyLimit}}</td>
                                <td>&nbsp;tot&nbsp;</td>
                                <td style="text-align:right;">{{kz.HoldLimit}}</td>
                            </tr>
                            <tr>
                                <td>Sell zone (<span>{{Naic_KZsellp}}%</span>):&nbsp; </td>
                                <td style="text-align:right;">{{kz.HoldLimit}}</td>
                                <td>&nbsp;tot&nbsp;</td>
                                <td style="text-align:right;">{{data.NaicStudy.HoogstePrijs}}</td>
                            </tr>
                        </tbody>
                    </table>
                    <br>
                    <p>
                        <u>Up-side Down-side Ratio</u> : <strong>{{kz.HlRatio | number:'1.0-0'}}&nbsp;to 1</strong><br />                        (Potential Gain vs. Risk of Loss - min. 3 recommended)</p>
                    <br/>
                    <p>
                        <u>Price Target</u> : <strong>{{kz.Appreciation | number:'1.0-0'}}%&nbsp;</strong>Appreciation</p>
                </div >
            </div  >
            <div class = "card ml-3 mr-3" >
                <div class= "card-header">
                    <h5 class="d-flex">
                        <a class="p-2" href="#" (click) ="panelChange($event)"> 5. Five-year Potential</a>
                        <div class="p-2"><i class="fa fa-info-circle fa_custom" (click)="onShowHelp(13)"></i></div>
                    </h5>
                </div >
                <div class= "card-block" #panel4>

                    
                    <table style="width:100%;">
                        <tbody>
                            <tr>
                                <td>Actual Yield : <strong>{{actualYield | number:'1.1-1'}}%&nbsp;</strong>
                                    <small><var>(Present full year's Dividend / Present Price of Stock * 100)  </var></small></td>
                            </tr>
                            <tr>
                                <td>Average Yield over next 5 years :<br/>
                                    <span>{{expGemWpa | number:'1.1-1'}}</span> (<var><small>Avg. Earnings Per Share Next 5 Years</small></var>)
                                    *
                                    <input class="Naic_Parameter" style="width: 40px;" type="text" [(ngModel)]="data.NaicStudy.ExpPayout" (blur)="changePar('PayoutP',0)" />                                    (
                                    <small><var>Avg. % payout</var></small>) /
                                    <span id="Naic_CurValue">{{user.curStock.Value}}</span> (
                                    <small><var>Present Price</var></small>)</td>
                                <td style="font-weight: bold;vertical-align: top;text-align:right;">{{DivReturn | number:'1.1-1'}}</td>
                                <td style="font-weight: bold;vertical-align: top;">%</td>
                            </tr>
                            <tr>
                                <td>5 Year Appreciation Potential : </td>
                                <td style="font-weight: bold;text-align:right;">{{expRateReturn | number:'1.1-1'}}</td>
                                <td style="font-weight: bold;">%</td>
                            </tr>
                            <tr>
                                <td>
                                    <u>Average Total Annual Return over the next 5 Years (compound):</u>
                                </td>
                                <td style="font-weight: bold;text-align:right;">{{TotReturn | number:'1.1-1'}}</td>
                                <td style="font-weight: bold;">%</td>
                            </tr>
                        </tbody>
                    </table>
                </div >
            </div  >
      
    </div>
</div>
<br>
<div class="d-flex flex-row justify-content-between" *ngIf="user.name !== 'demo'" >
        <div  *ngIf="data.savedStudy">
            <small>Naic Study dd: {{data.NaicStudy.Datum | slice:0:10}} </small>
        </div>
        <div  *ngIf="changeButton">
            <button class="btn btn-small btn-primary" class="print-niet" (click)="onChangeButtonClick()" >{{changeButton}}</button>
        </div>
</div>