
.alnright { 
    text-align: right!important; 
}

.Naic_Parameter {
   background-color: yellow;
}

.card-block{
    padding:10px;
}

.card-header {
    background-color: #e3f2fd;
}

.table-bordered td, .table-bordered th {
    border: 1px solid black;
}

.table-bordered td {
    font-size: 80%;
}

.fa_custom {
    color: #0099CC;
}

.printhoofding{display:none;}


@media print {
    .card-block  { display: block !important;}
    .table-bordered td, .table-bordered th {
        border: 1px solid black!important;
    }
    .fa-info-circle { display: none !important;}
    h5 {text-decoration: underline;}
    .printhoofding{display:block;}
    .print-niet{display:none;}

}